{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golden Rule Financial Breakdown</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
  </head>
  <body>
    <nav>
        <form action="" method="get">
        <button type="submit" value="" name="home">Home</button>
        </form>
    </nav>
    <h1>Golden Rule Financial Breakdown</h1>
    <div>{% if budget is none%}
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Calculate</button>
          </form>
          {% endif %}
    </div>
    <div> {% if budget is not none %}
        <h2>Submit Monthly Costs</h2>
      <form method="post">
        {% csrf_token %} {{ form_monthly.as_p }}
        <button type="submit">Calculate</button>
      </form>
      <table class="center">
        <tr>
          <th>Net Salary</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>Monthly Needs</td>
          <td>£{{ budget.monthly_needs }}</td>
        </tr>
        <tr>
          <td>Monthly Wants</td>
          <td>£{{ budget.monthly_wants }}</td>
        </tr>
        <tr>
          <td>Monthly Savings</td>
          <td>£{{ budget.monthly_savings }}</td>
        </tr>
      </table>
      
      {% endif %}
    </div>
  </body>
</html>
